
{% extends "shop/base.html" %}
 {% block title %}Home{% endblock title %}

{% block body %}
        <div class="container">
<div class="row d-flex justify-content-center">
<div class="col-md-10 mt-5 pt-5">
<div class="row z-depth-3">
   <div class="col-sm-4 bg-info rounded-left">
    <!--======profile photo==== -->
    <div class="card-block text-center text-white">
      <img src="{{ user.profile.image.url }}" alt="..." class="mt-5" style="width:200px;height:200px;">
        <h2 class="font-weight-bold mt-4">{{ user.username }}</h2>
        <p>Developer</p>
        <a href="#" class="btn btn-dark btn-1g mb-4">
        <i class="far fa-edit fa-2x mb-4"></i></a>
    </div>
   </div>
   <div class="col-sm-8 bg-white rounded-right">
    <h3 class="mt-3 text-center">PROFILE</h3>
    <div class="row">
        <!--====email part======-->
        <div class="col-sm-6">
            <p class="font-weight-bold">Email</p>
            <h6 class="text-muted">{{ user.email }}</h6>
            <hr class="badge-primary mt-0" style="width:50%;">
        </div>
        <!--mobile number part-->
        <div class="col-sm-6">
            <p class="font-weight-bold">Mobile number</p>
            <h6 class="text-muted">{{ user.profile.phone_number }}</h6>
            <hr class="badge-primary mt-0" style="width:30%;">
        </div>
    </div>
    <hr class="bg-primary">
    <div class="row">
        <!--===addrss part===-->
        <div class="col-sm-6">
            <p class="font-weight-bold">Address</p>
            <h6 class="text-muted">{{ user.profile.address }}</h6>
            <hr class="badge-primary mt-0" style="width:30%;">

        </div>
        <!--======item box======-->
        <div class="col-sm-6">
            <p class="font-weight-bold">Citizenship NO: </p>
            <h6 class="text muted">{{ user.profile.citizenship}}</h6>
            <hr class="badge-primary mt-0" style="width: 30%;">
        </div>
    </div>
    <!--===banaaako aafaile===-->
    <hr class="bg-primary">
        <div class="row">
            <div class="col-sm-6">
                <p class="font-weight-bold">Acount status</p>
                <h6 class="text muted">{{ user.is_active }}</h6>
                <hr class="badge-primary mt-0" style="width:30%;">
            </div>
            <div class="col-sm-6">
                <p class="font-weight-bold">Date of Birth</p>
                <h6 class="text muted">{{ user.profile.Date_of_birth }}</h6>
                <hr class="badge-primary mt-0" style="width: 40%;">
            </div>
    </div>
</div>
</div>
</div>
</div>
        </div>
    {% endblock body %}