{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>
        {% block title %}
        {% endblock title %}
    </title>
  <meta content="Happy E-shop website We deliver produce" name="description">
  <meta content="Ecommerce" name="amazon,flipcart,daraz,hamrobazar Eshop">

  <!-- Favicons -->
     <link rel="stylesheet" href="{% static 'shop/css/style1.css' %}">
  <link href="{% static 'shop/img/favicon.png' %}" rel="icon">
  <link href="{% static 'shop/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



  <!-- Vendor CSS Files -->
  <link href="{% static 'shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'shop/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'shop/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
 <link href="{% static 'shop/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
 <link href="{% static 'shop/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
<link href="{% static 'shop/css/style.css' %}" rel="stylesheet">
<link href="{% static 'shop/css/style1.css' %}" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
    {% block css %}
        {% endblock css %}
</style>

</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Happy E-Shop</a></h1>
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>

         <li><a class="nav-link scrollto" href="{% url 'tracker' %}">Traker</a></li>
             <li><a class="nav-link scrollto" href="{% url 'checkout' %}">Checkout</a></li>
        <button type="button" class="nav-link scrollto bg-danger p-3 m-2 "  id="popcart" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
 Cart(<span id="cart"></span>)
</button>
            {% if user.is_authenticated %}
                <li><a class="nav-link scrollto" href="{% url 'profile' %}">{{ user.username }}</a></li>
            <li><a class="nav-link scrollto" href="{% url 'logout' %}">logout</a></li>

            {% else %}
            <li><a class="nav-link scrollto" href="{% url 'login' %}">login</a></li>
            {% endif %}

            <li><a class="nav-link scrollto bg-dark p-3 m-2" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{% block body %}


{% endblock body %}

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src=" {% static 'shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'shop/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'shop/vendor/isotope-layout/isotope.pkgd.min.js ' %}"></script>
  <script src="{% static 'shop/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'shop/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'shop/js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block js %}

{% endblock js %}

  </body>
</html>