{% extends "shop/base.html" %}
 {% block title %}Home{% endblock title %}

{% block body %}
    <div class="container">
      <div class="col my-2">
          <h2> Checkout the product</h2>
      <div class="my-4">
          <ul class="list-group " id="items">
         </ul>
          <div class="mt-3">
              <div class="alert alert-success" role="alert"> Your total payment = Rs.<span id="totalPrice"></span></div></div>
  </div>
          </div>

<div class="col">

    <form method="post" action="{% url 'checkout' %}">{% csrf_token %}
<input type="hidden" name="itemsJson" id="itemsJson">
        <input type="hidden" name="amount" id="amount">

        <h2> Enter Detail</h2>
  <div class="col-md-12">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
  </div>
        <div class="col-md-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
  </div>
         <div class="col-md-12">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="tel" class="form-control" id="phone" name="phone"  placeholder="Phone number" required>
  </div>
        <div class="col-md-12">
        <label for="province" class="form-label" id="province">Province</label>
<select id="province" class="form-select" name="province" required>
  <option selected>Choose...</option>
  <option value="Koshi">Koshi</option>
  <option value="Madhesh">Madhesh</option>
  <option value="Bagmati">Bagmati</option>
  <option value="Gandaki">Gandaki</option>
  <option value="Lumbini">Lumbini</option>
  <option value="Karnali">Karnali</option>
  <option value="Sudurpashchim">Sudurpashchim</option>
</select>
 </div>
        <div class="col-md-12">
     <label for="district" class="form-label" id="district">District</label>
<select id="district" class="form-select" name="district" required>
  <option selected>Choose...</option>
  <option value="Achham">Achham</option>
  <option value="Arghakhanchi">Arghakhanchi</option>
  <option value="Baglung">Baglung</option>
  <option value="Baitadi">Baitadi</option>
  <option value="Bajhang">Bajhang</option>
  <option value="Bajura">Bajura</option>
  <option value="Banke">Banke</option>
  <option value="Bara">Bara</option>
  <option value="Bardiya">Bardiya</option>
  <option value="Bhaktapur">Bhaktapur</option>
  <option value="Bhojpur">Bhojpur</option>
  <option value="Chitwan">Chitwan</option>
  <option value="Dadeldhura">Dadeldhura</option>
  <option value="Dailekh">Dailekh</option>
  <option value="Dang">Dang</option>
  <option value="Darchula">Darchula</option>
  <option value="Dhading">Dhading</option>
  <option value="Dhankuta">Dhankuta</option>
  <option value="Dhanusha">Dhanusha</option>
  <option value="Dholkha">Dholkha</option>
  <option value="Dolpa">Dolpa</option>
  <option value="Doti">Doti</option>
  <option value="Gorkha">Gorkha</option>
  <option value="Gulmi">Gulmi</option>
  <option value="Humla">Humla</option>
  <option value="Ilam">Ilam</option>
  <option value="Jajarkot">Jajarkot</option>
  <option value="Jhapa">Jhapa</option>
  <option value="Jumla">Jumla</option>
  <option value="Kailali">Kailali</option>
  <option value="Kalikot">Kalikot</option>
  <option value="Kanchanpur">Kanchanpur</option>
  <option value="Kapilvastu">Kapilvastu</option>
  <option value="Kaski">Kaski</option>
  <option value="Kathmandu">Kathmandu</option>
  <option value="Kavrepalanchok">Kavrepalanchok</option>
  <option value="Khotang">Khotang</option>
  <option value="Lalitpur">Lalitpur</option>
  <option value="Lamjung">Lamjung</option>
  <option value="Mahottari">Mahottari</option>
  <option value="Makwanpur">Makwanpur</option>
  <option value="Manang">Manang</option>
  <option value="Morang">Morang</option>
  <option value="Mugu">Mugu</option>
  <option value="Mustang">Mustang</option>
  <option value="Myagdi">Myagdi</option>
  <option value="Nawalparasi">Nawalparasi</option>
  <option value="Nuwakot">Nuwakot</option>
  <option value="Okhaldhunga">Okhaldhunga</option>
  <option value="Palpa">Palpa</option>
  <option value="Panchthar">Panchthar</option>
  <option value="Parbat">Parbat</option>
  <option value="Parsa">Parsa</option>
  <option value="Pyuthan">Pyuthan</option>
  <option value="Ramechhap">Ramechhap</option>
  <option value="Rasuwa">Rasuwa</option>
  <option value="Rautahat">Rautahat</option>
  <option value="Rolpa">Rolpa</option>
  <option value="Rukum">Rukum</option>
  <option value="Rupandehi">Rupandehi</option>
  <option value="Salyan">Salyan</option>
  <option value="Sankhuwasabha">Sankhuwasabha</option>
  <option value="Saptari">Saptari</option>
  <option value="Sarlahi">Sarlahi</option>
  <option value="Sindhuli">Sindhuli</option>
  <option value="Sindhupalchok">Sindhupalchok</option>
  <option value="Siraha">Siraha</option>
  <option value="Solukhumbu">Solukhumbu</option>
  <option value="Sunsari">Sunsari</option>
  <option value="Surkhet">Surkhet</option>
  <option value="Syangja">Syangja</option>
  <option value="Tanahu">Tanahu</option>
  <option value="Taplejung">Taplejung</option>
  <option value="Terhathum">Terhathum</option>
  <option value="Udayapur">Udayapur</option>
  <option value="Western Rukum">Western Rukum</option>
</select>
</div>
  <div class="col-md-12">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="City Name:" required>
  </div>
  <div class="col-md-7">
    <label for="zip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip Code:" required>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Place order</button>
  </div>
</form>
</div>
</div>

{% endblock body %}
{% block js %}
 <script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
var totalPrice=0;

if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        let itemPrice=cart[item][2];
        sum = sum + qty;
        totalPrice=totalPrice+qty*itemPrice
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
        $('#items').append(mystr);
    }

}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalPrice').innerHTML = totalPrice;
$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for ordering with us. Your order ID is {{ id }} . Use it to track your order using our order tracker');
localStorage.clear();
document.location = "/";
{% endif %}
$('#amount').val($('#totalPrice').html())
</script>
{% endblock js%}
